#caption {
    color: #76A1A8;
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
}
#maincontent {
    color: #CB7787;
    text-align: center;
    font-weight: 900;
    font-size: x-large;
}
